body {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Karla', sans-serif;   
    font-family: 'Roboto Mono', monospace;
}

.container {
    position: relative;
    width: 50%;
}

.container img {
    width: 100%;
    height: auto;
}

.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.button {
    background-color: rgb(228, 239, 167); /* Green */
    border: none;
    color: white;
    padding: 1px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
}

.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: rgb(4, 74, 171); /* Green */
    color: white;
}

.button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.nav {
    font-size: 24px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    color: rgb(188, 10, 10);
    text-decoration: none;
    transition: color .2s linear;
}

.nav__link:hover {
    color: #FFFF00;
}

